body{
    background-color: #38434a;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
}

#place>div{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

#search{
    margin:  40px auto;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 70px;
    justify-content: space-between;
}

button{
    cursor: pointer;
    border-radius: 50px;
    border: 0;
    height: 30px;
    font-size: large;
}

input{
    border: 0;
    border-radius: 50px;
    height: 27px;
    font-size: large;
    text-align: center;
}